.header {
  background: #fff;
}

.header .container {
  display: flex;
  align-items: center;
}
.logo {
  display: block;
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-accent {
  color: #4d5ae5;
}

.main-nav,
.contacts {
  display: none;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
  font-weight: 500;
}
.main-nav-link {
  display: block;
  position: relative;
  padding: 24px 0;
}

.main-nav-link:hover,
.main-nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.contacts {
  margin-left: auto;
  color: #434455;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contacts-link {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.main-nav-link.current {
  color: #404bbf;
}
.main-nav-link.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 2px;
  height: 4px;
  background: #404bbf;
}

.mobile-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
}

@media only screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #e7e9fc;
  }

  .logo {
    margin-right: 120px;
  }

  .mobile-menu-button {
    display: none;
  }

  .main-nav,
  .contacts {
    display: block;
  }
}

@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
